/*******************Upload****************/
.upload-container {
  width: 100%;
  padding-bottom: 10%;
}

.upload-toggle-button {
  text-align: center;
}

.upload-button-group {
  width: 50%;
  margin: auto;
}

.upload-option-btn {
  width: 50%;
}

.upload-dnd:hover {
  color: #007bff;
}

.upload-loading {
  text-align: center;
  margin: auto;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}
.modal-backdrop.fade {
  opacity: 0.5 !important;
}
.modal {
  opacity: 1 !important;
}
